doctype html
html(lang="en")
    head
        title logo and gas | #{siteTitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        include partials/header.pug
        main
            block content
    include partials/footer
    script(src="/static/js/main.js")