extends base

block content 
    span=errorMessage
    form(method="POST")        
        input(placeholder="e-mail", type="email", name="email", value=loggedInUser.email)        
        input(placeholder="username", type="text", name="username", value=loggedInUser.username)
        input(type="submit", value="Complete edit")
        a(href="/user/change_password") Change password