extends base

block content 
    form(method="POST")        
        input(placeholder="e-mail", type="email", name="email", value=loggedInUser.email)
        input(placeholder="password", type="password", name="password", required)
        input(placeholder="confirm password", type="password", name="password2", required)
        input(placeholder="username", type="text", name="username", value=loggedInUser.username)
        input(type="submit", value="Complete edit") 