extends base.pug

block content 
    h4 Change Title of Video 
    form(action="/", method="POST")
        input(placeholder="Video Title", value=video.title, required )
        input(value="Save", type="submit")
