extends base

block content 
    form(method="POST")
        input(placeholder="e-mail", type="text", name="email", required)
        input(placeholder="password", type="text", name="password", required)        
        input(type="submit", value="Login")
    span Don't have an account yet?
    a(href="/signup") Register