extends base.pug

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST", action="/videos/upload")
        input(placeholder="Title", type="text", name="title", required)
        input(placeholder="Description", type="text", name="description")
        input(placeholder="Hashtags, separated by comma.", type="text", name="hashtags", required)
        input(placeholder="Tickers, separated by comma.", type="Text", name="tickers", required)
        input(value="Upload Video", type="submit")