extends ../base

block content
    if loggedInUser
        img(src=loggedInUser.avatarPath, width="100", height="100")
        span username : 
        span=loggedInUser.username
        span Sync Accounts 
        span Sync Wallets
        a(href="/user/edit") Edit profile