extends ../base

block content 
    span=errorMessage
    form(method="POST")        
        input(placeholder="password", type="password", name="password", required )
        input(placeholder="confirm password", type="password", name="password2", required )
        input(type="submit", value="Change Password")